@include b(anchor) {
  @include e(wrapper) {
    overflow: auto;
    padding-left: 6px;
    margin-left: -6px;
  }

  position: relative;
  padding-left: 2px;

  &__ink {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;

    &:before {
      content: " ";
      position: relative;
      width: 2px;
      height: 100%;
      display: block;
      background-color: $--border-color-base;
      margin: 0 auto;
    }

    &-ball {
      display: inline-block;
      position: absolute;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      border: 2px solid $--color-primary;
      background-color: $--color-white;
      left: 50%;
      transition: top .2s ease-in-out;
      transform: translate(-50%, 2px);
    }
  }

  &.fixed &__ink &__ink-ball {
    display: none;
  }

  &__link {
    padding: 8px 0 8px 16px;
    line-height: 1;

    &-title {
      display: block;
      position: relative;
      transition: all .3s;
      color: $--color-text-3;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 8px;

      &:only-child {
        margin-bottom: 0;
      }
    }

    &-active > &-title {
      color: $--color-primary;
    }
  }

  &__link &__link {
    padding-top: 6px;
    padding-bottom: 6px;

    &:last-child {
      padding-bottom: 0;
    }
  }
}
