@include b(area) {

  @include e(search) {
    display: block;
    width: 300px;
    margin-bottom: 12px;
  }

  @include e(box) {
    margin-bottom: 10px;
  }

  @include e(all) {
    height: $--area-height;
    line-height: $--area-height;

    &-inner {
      cursor: pointer;
    }

    &-checked {
      margin-left: 5px;
    }
  }

  @include e(groups) {
    width: 100%;
    @include utils-clearfix();
  }

  @include e(half) {
    float: left;
    width: 50%;

    .hn-area__province {
      width: 33%;
      min-width: calc(12 * 6 + 28px);
    }
  }


  @include e(group) {
    position: relative;
    padding-left: 25px;

    .hn-area__name {
      position: absolute;
      top: 0;
      left: 0;
      width: 25px;
      height: 100%;
      line-height: $--area-height;
      font-size: 14px;
      color: #999;
      font-weight: bold;
      font-family: $--font-family-text-tahoma;
    }

    .hn-area__provinces {
      @include utils-clearfix();

      .hn-area__province {
        position: relative;
        float: left;
        min-width: 16.6%;
        height: $--area-height;

        .hn-area__label {
          position: absolute;
          float: left;
          min-width: 100px;
          padding-right: 16px;
          line-height: $--area-height;
          white-space: nowrap;
          cursor: pointer;

          .hn-area--arrow {
            position: absolute;
            top: 0;
            right: 4px;
            width: 20px;
            height: $--area-height;
            line-height: $--area-height;
            text-align: center;
            color: #ccc;
            cursor: pointer;
            transition: all 0.25s;
            user-select: none;

            &.hn-area--expand {
              right: 2px;
              transform: rotate(180deg);
            }
          }
        }

        .hn-area__cities {
          position: absolute;
          top: $--area-height;
          left: 0; // -72px;
          z-index: $--index-area;
          width: 240px;
          padding: 10px;
          border-radius: $--border-radius-base;
          background-color: $--color-white;

          .hn-area__city {
            float: left;
            width: 49%;
            height: 32px;
            margin-right: 2%;
            line-height: 32px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            cursor: pointer;

            &:nth-child(even) {
              margin-right: 0;
            }
          }
        }

        .hn-area__highlight {
          background-color: $--color-primary-light-9;
        }

        .hn-area__label-name {
          display: inline-block;
          position: relative;
          padding-right: 26px;
          border-radius: $--border-radius-base;;
          transition: all 0.25s;

          .hn-area__count {
            position: absolute;
            top: 50%;
            right: 0;
            width: 24px;
            height: $--area-height;
            line-height: $--area-height;
            margin-top: 0 - $--area-height / 2;
            text-align: left;
            font-size: 12px;
            font-weight: bold;
          }
        }
      }
    }
  }
}
