//@include b(back-top) {
//  position: fixed;
//  display: inline-block;
//  text-align: center;
//  cursor: pointer;
//  z-index: $--index-back-top;
//  background: $--color-primary-light-9;
//  border-radius: $--border-radius-base;
//
//  &:hover {
//    background: $--color-primary-light-8;
//  }
//
//  @include m(icon) {
//    fill: $--color-primary;
//    background: none;
//  }
//}
@include b(back-top) {
  position: fixed;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  z-index: $--index-back-top;
  background: $--color-bg;
  border-radius: $--border-radius-base;
  box-shadow: 0 1px 3px rgba(18, 18, 18, .1);
  color: #8590a6;

  &:hover {
    background: #d3d3d3;
  }

  .hn-svg-icon {
    vertical-align: 0;
  }
}

