@include b(back-top) {
  position: fixed;
  display: inline-block;
  text-align: center;
  cursor: pointer;

  &:hover {
    background: #d5dbe7;
  }

  @include e(icon) {
    fill: #9aaabf;
    background: none;
  }
}

