@include b(back-top) {
  position: fixed;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  z-index: $--index-back-top;
  background: $--color-primary-light-9;
  border-radius: $--border-radius-base;

  &:hover {
    background: $--color-primary-light-8;
  }

  @include m(icon) {
    fill: $--color-primary;
    background: none;
  }
}

