@import "../mixins/mixins";
@import "../mixins/utils";

@include b(calendar){
  position: relative;
  z-index: 1000;
  width: $--calendar-width;
  padding: 0;
  background-color: #fff;
  border-radius: 4px;
  overflow-y: hidden;
  color: #333;
  text-align: center;

  .header {
    width: $--calendar-width;
    padding: 2px 4px;

    .minus {
      float: left;
    }

    .plus {
      float: right;
      transform: scaleX(-1);
    }

    .minus,
    .plus {
      line-height: $--calendar-item-size;
      font-size: 12px;
      color: #ccc;
      cursor: pointer;

      &:hover {
        color: #4d7fff;
      }
    }

    .title {
      display: inline-block;
      height: $--calendar-item-size;
      line-height: $--calendar-item-size;
      padding: 0 10px;
      cursor: pointer;
      border-radius: 4px;
      color: #666;

      &:hover {
        background-color: #eeeeee;
      }
    }
  }

  .body {
    width: $--calendar-width;

    .weeks {
      background-color: #f5f5f6;
      padding: 0 10px;
      color: #666;
    }

    .days {
      padding: 10px;
    }

    .week,
    .day {
      float: left;
      width: $--calendar-item-size;
      height: $--calendar-item-size;
      margin: $--calendar-item-gap;
      line-height: $--calendar-item-size;
      border-radius: 4px;
      cursor: pointer;
      color: #333;
    }

    .day:hover {
      background-color: #eeeeee;
    }

    .gray {
      color: #999;
    }

    .today,
    .today:hover {
      background-color: #edf2ff;
    }

    .notallowed,
    .notallowed:hover {
      color: #eeeeee;
      cursor: not-allowed;
      background: #fff;
    }

    .selected,
    .selected:hover {
      color: #fff;
      background-color: #4d7fff;
    }
  }

  .time {
    border-top: 1px solid #e6e6e6;
  }

  @at-root .clearfix {
    @include utils-clearfix()
  }

  .y-panel,
  .m-panel {
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    transition: top 0.15s;
    background-color: #fff;
  }

  .ym-show {
    top: 0;
  }

  .ym {
    float: left;
    width: $--calendar-ym-width;
    height: $--calendar-ym-height;
    margin: 10px;
    line-height: $--calendar-ym-height;
    border-radius: 4px;
    font-size: calc(12px + 2px);
    cursor: pointer;

    &:hover {
      background-color: #eeeeee;
    }
  }
}
