@include b(calendar){
  position: relative;
  z-index: $--index-calendar;
  width: $--calendar-width;
  padding: 0;
  background-color: $--color-white;
  border-radius: $--border-radius-base;
  overflow-y: hidden;
  color: $--color-text-3;
  text-align: center;
  @include utils-user-select(none);

  .header {
    width: $--calendar-width;
    padding: 2px 4px;

    .minus {
      float: left;
    }

    .plus {
      float: right;
      transform: scaleX(-1);
    }

    .minus,
    .plus {
      line-height: $--calendar-item-size;
      font-size: $--font-size-small;
      color: $--color-text-c;
      cursor: pointer;

      &:hover {
        color: $--color-primary;
      }
    }

    .title {
      display: inline-block;
      height: $--calendar-item-size;
      line-height: $--calendar-item-size;
      padding: 0 10px;
      cursor: pointer;
      border-radius: $--border-radius-base;
      color: $--color-text-6;

      &:hover {
        background-color: $--calendar-bg;
      }
    }
  }

  .body {
    width: $--calendar-width;

    .weeks {
      background-color: $--color-bg;
      padding: 0 10px;
      color: $--color-text-6;
    }

    .days {
      padding: 10px;
    }

    .week,
    .day {
      float: left;
      width: $--calendar-item-size;
      height: $--calendar-item-size;
      margin: $--calendar-item-gap;
      line-height: $--calendar-item-size;
      border-radius: $--border-radius-base;
      cursor: pointer;
      color: $--color-text-3;
    }

    .day:hover {
      background-color: $--calendar-bg;
    }

    .gray {
      color: $--color-text-9;
    }

    .today,
    .today:hover {
      background-color: $--color-primary-light-9;
    }

    .notallowed,
    .notallowed:hover {
      color: $--calendar-bg;
      cursor: not-allowed;
      background: $--color-white;
    }

    .selected,
    .selected:hover {
      color: $--color-white;
      background-color: $--color-primary;
    }
  }

  .time {
    border-top: 1px solid $--border-color-base;
  }

  @at-root .clearfix {
    @include utils-clearfix()
  }

  .y-panel,
  .m-panel {
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    transition: top 0.15s;
    background-color: $--color-white;
  }

  .ym-show {
    top: 0;
  }

  .ym {
    float: left;
    width: $--calendar-ym-width;
    height: $--calendar-ym-height;
    margin: 10px;
    line-height: $--calendar-ym-height;
    border-radius: $--border-radius-base;
    font-size: $--font-size-base;
    cursor: pointer;

    &:hover {
      background-color: $--calendar-bg;
    }
  }
}
