$--mx-calendar-item-gap: 2px;
$--mx-calendar-item-size: 24px;

$--mx-calendar-width: calc(
  (#{$--mx-calendar-item-size} + #{$--mx-calendar-item-gap} * 2) * 7 + 20px
);
$--mx-calendar-height: calc(
  (#{$--mx-calendar-item-size} + #{$--mx-calendar-item-gap} * 2) * 8 + 20px
);
$--mx-calendar-ym-width: calc((#{$--mx-calendar-width} - 60px) / 3);
$--mx-calendar-ym-height: calc(
  (
  #{$--mx-calendar-height} - #{$--mx-calendar-item-size} - #{$--mx-calendar-item-gap} *
        2 - 80px
    ) / 4
);
$--mx-calendar-time-width: calc(#{$--mx-calendar-item-size} * 2 + 6px);

.hn-calendar-wrapper {
  font-size: 12px;
  position: relative;
  z-index: 1000;
  //width: $--mx-calendar-width;
  padding: 0;
  background-color: #fff;
  border-radius: 4px;
  overflow-y: hidden;
  color: #333;
  text-align: center;

  .header {
    width: $--mx-calendar-width;
    padding: 2px 4px;

    .minus {
      float: left;
    }

    .plus {
      float: right;
      transform: scaleX(-1);
    }

    .minus,
    .plus {
      line-height: $--mx-calendar-item-size;
      font-size: 12px;
      color: #ccc;
      cursor: pointer;

      &:hover {
        color: #4d7fff;
      }
    }

    .title {
      display: inline-block;
      height: $--mx-calendar-item-size;
      line-height: $--mx-calendar-item-size;
      padding: 0 10px;
      cursor: pointer;
      border-radius: 4px;
      color: #666;

      &:hover {
        background-color: #eeeeee;
      }
    }
  }

  .body {
    width: $--mx-calendar-width;

    .weeks {
      background-color: #f5f5f6;
      padding: 0 10px;
      color: #666;
    }

    .days {
      padding: 10px;
    }

    .week,
    .day {
      float: left;
      width: $--mx-calendar-item-size;
      height: $--mx-calendar-item-size;
      margin: $--mx-calendar-item-gap;
      line-height: $--mx-calendar-item-size;
      border-radius: 4px;
      cursor: pointer;
      color: #333;
    }

    .day:hover {
      background-color: #eeeeee;
    }

    .gray {
      color: #999;
    }

    .today,
    .today:hover {
      background-color: #edf2ff;
    }

    .notallowed,
    .notallowed:hover {
      color: #eeeeee;
      cursor: not-allowed;
      background: #fff;
    }

    .selected,
    .selected:hover {
      color: #fff;
      background-color: #4d7fff;
    }
  }

  .time {
    border-top: 1px solid #e6e6e6;
  }
}

.y-panel,
.m-panel {
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  transition: top 0.15s;
  background-color: #fff;
}

.ym-show {
  top: 0;
}

.ym {
  float: left;
  width: $--mx-calendar-ym-width;
  height: $--mx-calendar-ym-height;
  margin: 10px;
  line-height: $--mx-calendar-ym-height;
  border-radius: 4px;
  font-size: calc(12px + 2px);
  cursor: pointer;

  &:hover {
    background-color: #eeeeee;
  }
}

$group-height: 40px;
[mx-view*="mx-time/content"] {
  min-width: $--mx-calendar-width;
  padding: 10px;

  .groups {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
  }
  .group {
    overflow: hidden;
    flex: 0 0 $--mx-calendar-time-width;
    .ipt {
      width: 100%;
      height: $group-height;
      font-size: 24px;
      text-align: center;
    }

    .ipb {
      width: $--mx-calendar-item-size;
      height: $--mx-calendar-item-size;
      line-height: $--mx-calendar-item-size;
      font-size: 12px;
      text-align: center;
      font-weight: bold;
      background-color: #eeeeee;
      border-radius: 4px;
      cursor: pointer;
      transition: all 0.25s;

      &:hover {
        background-color: #ccc;
      }
    }

    .time-disabled {
      .ipb {
        background-color: #eeeeee;
        color: #ccc;
      }
    }
  }

  .sps {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: $group-height;
    .sp {
      float: left;
      width: 50%;
      font-size: 24px;
      height: $group-height;
      line-height: $group-height;
      font-weight: bolder;
      text-align: center;

      &.spa {
        padding-left: calc(#{$--mx-calendar-time-width} / 2);
      }
      &.spb {
        padding-right: calc(#{$--mx-calendar-time-width} / 2);
      }
    }
  }
}

.clearfix{
  @include clearfix()
}





/*dropdown类trigger+下拉列表类通用样式*/

/*渐显下拉动画*/
@keyframes fade-in-down {
  0% {
    transform: translate(0, -20%);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

/*渐显上拉动画*/
@keyframes fade-in-up {
  0% {
    transform: translate(0, 20%);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}


.mx-cascade {
  position: relative;
  display: inline-block;
  min-width: 100px;
  min-height: 32px;
  vertical-align: middle;
  &:hover {
    .mx-trigger {
      border-color: #cccccc;
      .mx-trigger-arrow {
        color: #cccccc;
      }
    }
  }
}

.mx-trigger {
  display: block;
  position: relative;
  width: 100%;
  height: 32px;
  padding: 0 25px 0 10px;
  line-height: calc(32px - 2px);
  cursor: pointer;
  user-select: none;
  transition: all 0.25s;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: #e6e6e6;
  background-color: #fff;
  .mx-trigger-label {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .mx-trigger-arrow {
    position: absolute;
    right: 0;
    top: 50%;
    width: 28px;
    height: 28px;
    font-size: 28px;
    line-height: 28px;
    margin-top: -14px;
    color: #e6e6e6;
    transition: all 0.25s;
  }
  &.mx-trigger-open {
    .mx-trigger-arrow {
      transform: rotate(180deg);
      margin-top: -15px;
    }
  }
}

.mx-output {
  display: none;
  position: absolute;
  left: 0;
  z-index: 999999;
  min-width: 100%;
  max-width: 280%;
  border-radius: 4px;
  background-color: #fff;
  user-select: none;
  background-color: #fff;
  &.mx-output-bottom {
    top: 100%;
    margin-top: 10px;
    &.mx-output-open {
      display: block;
      animation: fade-in-down 0.25s ease-out;
      animation-fill-mode: forwards;
    }
  }
  &.mx-output-top {
    bottom: 100%;
    margin-bottom: 10px;
    &.mx-output-open {
      display: block;
      animation: fade-in-up 0.25s ease-out;
      animation-fill-mode: forwards;
    }
  }
  .mx-output-search {
    padding: 10px 10px 0 10px;
  }
  .mx-output-list {
    max-height: 300px;
    padding: 8px 10px;
    overflow: auto;
  }
  .mx-output-item {
    padding: 2px 0;
  }
  .mx-output-header {
    height: 26px;
    line-height: 26px;
    padding-left: 2px;
    padding-right: 2px;
    color: #999;
    cursor: default;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .mx-output-link {
    display: block;
    width: 100%;
    height: 26px;
    padding: 0 8px;
    line-height: 26px;
    border-radius: 4px;
    transition: all 0.25s;
    cursor: pointer;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover {
      background-color: #eeeeee;
    }
    &.mx-output-link-active,
    &.mx-output-link-active:hover,
    &.mx-output-link-active:active,
    &.mx-output-link-active:focus {
      color: #4d7fff;
      background-color: #edf2ff;
    }
    &.mx-output-link-disabled,
    &.mx-output-link-disabled:hover,
    &.mx-output-link-disabled:active,
    &.mx-output-link-disabled:focus {
      color: #999;
      cursor: not-allowed;
      background-color: transparent;
    }
  }
}





//rangepicker
$center-width: 10px;
.result {
  position: relative;
  padding: 0 10px;
  &.result-with-icon {
    padding: 0 10px 0 26px;
    .prefix-icon {
      position: absolute;
      top: 50%;
      left: 6px;
      width: 18px;
      height: 18px;
      margin-top: -9px;
      color: #ccc;
      text-align: left;
    }
  }
}

.result-left {
  .center {
    padding: 0 5px;
  }
}

.result-center {
  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 30px;
    margin-left: -12px;
    margin-top: -15px;
    line-height: 30px;
    text-align: center;
  }
  .co {
    display: inline-block;
    width: 50%;
    text-align: center;
  }
  .co-left {
    padding-right: $center-width;
  }
  .co-right {
    padding-left: $center-width;
  }
}

.result-vs {
  .co-left {
    color: #4d7fff;
  }
  .co-right {
    color: #14c9ce;
  }
}


/* --mx-calendar-range-input-width: 100px; 的值同 [mx-view*="mx-calendar/datepicker"]的最小宽度默认保持一致 */
$--mx-calendar-range-input-width: 100px;
.range-wrapper {
  position: relative;
  z-index: 1000;
  min-width: calc(#{$--mx-calendar-range-input-width} * 2 + 40px);
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  background-color: #fff;
  user-select: none;
  -webkit-user-select: none;
  .title {
    margin-bottom: 5px;
    color: #999;
  }
  .range {
    position: relative;
    line-height: 26px;
    .range-input {
      float: left;
      width: 50%;
      min-width: $--mx-calendar-range-input-width;
      text-align: center;
      cursor: text;
      [ref="@./rangepicker.less:result"] {
        height: 26px;
        padding: 0 0 0 16px;
        line-height: 26px;
        border-radius: 4px;
        background-color: #eeeeee;
        border: 0;
        color: #333;
      }
      .vs1 {
        [ref="@./rangepicker.less:result"] {
          color: #4d7fff;
        }
      }
      .vs2 {
        [ref="@./rangepicker.less:result"] {
          color: #14c9ce;
        }
      }
      [mx-view*="mx-calendar/datepicker"] {
        width: 100%;
        min-height: 26px;
        &[mx-view*="disabled=true"],
        &[mx-view*="disabled=true"]:hover,
        &[mx-disabled],
        &[mx-disabled]:hover {
          [ref="@./rangepicker.less:result"],
          .vs1 [ref="@./rangepicker.less:result"],
          .vs2 [ref="@./rangepicker.less:result"] {
            color: #999;
          }
        }
      }
    }
    .range-input-left {
      padding-right: 9px;
    }
    .range-input-right {
      padding-left: 9px;
    }
    .range-gap {
      position: absolute;
      top: 0;
      left: 50%;
      width: 18px;
      height: 26px;
      margin-left: -9px;
      text-align: center;
    }
  }
  .shortcuts {
    margin-top: 15px;
    .st {
      float: left;
      width: 46%;
      height: 26px;
      margin-right: 4%;
      margin-top: 5px;
      padding: 0 0 0 10px;
      line-height: 26px;
      border-radius: 4px;
      cursor: pointer;
      overflow: hidden;
      white-space: nowrap;
      &:hover {
        background-color: #eeeeee;
      }
      &.selected,
      &.selected:hover {
        color: #4d7fff;
        background-color: #edf2ff;
      }
    }
    &.shortcuts-small {
      .st {
        width: 32%;
        margin-right: 1%;
      }
    }
  }
  &.time {
    --mx-calendar-range-input-width: calc(12 * 12);
  }
}
