@include b(degree) {
  position: relative;
  line-height: 0;
  display: inline-block;

  @include m(bg) {
    float: left;
    width: 4px;
    height: 14px;
    margin-right: 3px;
    border-radius: 2px;
    background-color: $--degree-bg;
    &:last-child {
      margin-right: 0;
    }
  }

  @include m(primary) {
    background-color: $--color-primary;
  }

  @include m(danger) {
    background-color: $--color-danger;
  }

  @include m(warning) {
    background-color: $--color-warning;
  }

  @include m(success) {
    background-color: $--color-success;
  }
}
