@include b(duration-wrapper) {
  position: relative;
  font-size: $--font-size-small;

  .hn-discount-hover {
    position: absolute;
    z-index: $--index-discount;
    width: 120px;
    padding: 10px;
    line-height: 22px;
    border-radius: $--border-radius-base;;
    background: $--color-white;
    filter: alpha(opacity=80);
    opacity: 0.8;
  }

  .hn-discount-mask {
    position: absolute;
    z-index: $--index-discount;
    cursor: default;
    border: 1px solid $--color-primary;
    background: rgba(75, 138, 251, .2);
    @include utils-user-select(none);
  }

  .hn-discount-setting {
    position: absolute;
    z-index: $--index-discount;
    width: calc(12 * 16 + 40px);
    border-radius: $--border-radius-base;;
    background: $--color-white;

    &__content {
      padding: 10px 10px 0 10px;
      border-bottom: 1px solid $--border-color-base;
      .hn-discount-setting__box {
        margin-bottom: 10px;
      }
    }

    &__footer {
      padding: 10px;
    }
  }

  .hn-duration {
    box-sizing: border-box;
    border-radius: $--border-radius-base;;
    cursor: default;
    background-color: $--color-bg;
    @include utils-user-select(none);

    &__week {
      border-top: 1px solid $--border-color-base;
      border-right: 1px solid $--border-color-base;
      border-left: 1px solid $--border-color-base;
      border-top-left-radius: $--border-radius-base;
      border-bottom-left-radius: $--border-radius-base;
      float: left;

      &-item {
        color: $--color-text-9;
        text-align: center;
        border-bottom: 1px solid $--border-color-base;

        &:first-child {
          border-top-left-radius: $--border-radius-base;
        }

        &:last-child {
          border-bottom-left-radius: $--border-radius-base;
        }
      }
    }

    &__content {
      float: left;

      .hn-duration__range {
        background-color: $--color-bg;
        border-top: 1px solid $--border-color-base;
        border-bottom: 1px solid $--border-color-base;
        border-top-right-radius: $--border-radius-base;
        text-align: center;
        color: $--color-text-9;

        &-item {
          float: left;
          border-right: 1px solid $--border-color-base;

          &:last-child {
            border-top-right-radius: $--border-radius-base;
          }
        }
      }

      .hn-duration__time {
        background-color: $--color-bg;
        text-align: center;
        color: $--color-text-9;

        &-item {
          float: left;
          border-right: 1px solid $--border-color-base;
          border-bottom: 1px solid $--border-color-base;
        }
      }

      .hn-duration__boxzones {
        .hn-duration__boxzone {
          background: $--color-white;
          border-right: 1px solid $--border-color-base;
          border-bottom: 1px solid $--border-color-base;
          float: left;

          &:last-child {
            border-bottom-right-radius: $--border-radius-base;
          }
        }
      }
    }
  }

  .hn-duration__footer {
    padding: 10px 0;

    .hn-duration__tip {
      float: right;
      line-height: 28px;
      color: $--color-text-c;

      .hn-duration--circle-percent {
        margin-right: 15px;

        .hn-duration--circle {
          display: inline-block;
          width: 10px;
          height: 10px;
          margin-right: 3px;
          border-radius: 50%;
        }

        .hn-duration--percent {
          font-family: $--font-family-text-tahoma;
          font-weight: bold;
        }
      }

    }
  }

  .clearfix {
    @include utils-clearfix();
  }
}
