@include b(tag) {
  display: inline-block;
  height: $--icon-height;
  padding: 0 4px;
  border-radius: $--icon-height / 2;
  text-align: center;
  line-height: $--icon-height - 2;
  font-size: 0;
  border: 1px solid $--color-primary;
  background-color: $--color-primary;
  color: #fff;
  .hn-tag-name {
    display: inline-block;
    font-size: $--font-size-small;
    font-weight: bold;
    transform: scale(0.84);
    white-space: nowrap;
    -webkit-font-smoothing: subpixel-antialiased;
    >* {
      font-size: $--font-size-small;
    }
    img{
      display: inline-block;
      height: ($--icon-height - 2);
      vertical-align: top;
    }
  }
}