@import "../mixins/mixins";

@include b(error) {
  width: 400px;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 120px;
  text-align: center;

  @include e(img) {
    display: block;
    width: 400px;
    margin: auto;
  }

  @include e(info) {
    font-size: 16px;
    color: #999;
    margin-top: 40px;
  }

  @include e(footer) {
    margin-top: 20px;

    .hn-error__btn {
      width: calc(#{$--font-size-base} * 7);
    }
  }
}
