@include b(indics) {
  font-size: $--font-size-base;

  @include e(setting) {
    position: relative;
    height: 100%;

    .hn-indics__header {
      position: relative;
      width: 100%;
      height: $--indics-header-height;
      padding: 0 24px;
      background-color: $--color-white;
      line-height: $--indics-header-height;
      border-bottom: 1px solid $--border-color-base;
      white-space: nowrap;
      word-wrap: normal;
      overflow: hidden;
      text-overflow: ellipsis;

      .hn-indics--operation {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 24px;
        background-color: $--color-white;
      }
    }

    .hn-indics__content {
      position: absolute;
      top: $--indics-header-height;
      left: 0;
      bottom: 0;
      right: 0;
      overflow-y: auto;

      .hn-indics__lines {
        position: relative;
        padding: 16px 24px;

        &:nth-of-type(even) {
          background-color: $--color-bg;
        }
      }

      .hn-indics__name {
        position: absolute;
        top: 16px;
        left: 24px;
        width: $--indics-content-name-width;
        padding: 8px 0;
        color: $--color-text-9;
      }

      .hn-indics__line {
        float: left;
        padding: 8px 0;
        white-space: nowrap;
        & i {
          color: $--color-text-c;
        }
      }
    }

    &.hn-indics--parent {
      .hn-indics__lines {
        padding-left: 16 * 2 + $--indics-content-name-width;
      }
    }

    &.hn-indics--sortable {
      padding-right: $--indics-right-width;

      .hn-indics__content {
        right: $--indics-right-width;
        border-right: 1px solid $--border-color-base;
      }

      .hn-indics__drag-header {
        position: absolute;
        top: 0;
        right: 0;
        width: $--indics-right-width;
        height: $--indics-header-height + 38px;

        .hn-indics__drag-title {
          height: $--indics-header-height;
          line-height: $--indics-header-height;
          padding-left: 24px;
          border-bottom: 1px solid $--border-color-base;
        }

        .hn-indics__drag-operation {
          height: 38px;
          padding: 0 24px;
          line-height: 38px;
          text-align: right;
          background-color: $--color-bg;
        }
      }

      .hn-indics__drag-wrapper {
        position: absolute;
        top: $--indics-header-height + 38px;
        right: 0;
        bottom: 0;
        width: $--indics-right-width;
        padding: 0 24px 16px 24px;
        overflow-y: auto;
        background-color: $--color-bg;

        .hn-indics__drag {
          height: 30px;
          margin-bottom: 5px;
          padding: 0 15px;
          line-height: 28px;
          background: $--color-white;
          border: 1px solid $--border-color-base;
          border-radius: $--border-radius-base;
          cursor: move;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    .hn-indics--max {
      color: $--color-text-9;
      font-weight: bold;
      font-family: Tahoma;
    }

    .hn-indics--tip, .hn-indics--sort {
      color: $--color-text-9;
    }

    .hn-indics--text {
      font-size: $--font-size-large;
    }

    .hn-indics--span {
      color: $--color-primary;
      &:first-child {
        margin-right: 10px;
      }
      &:hover {
        color: $--color-primary-light-2;
      }

      cursor: pointer;
    }
  }

  & .hn-indics__show {
    display: inline-block;
    width: 40px;
    padding: 0;
    margin-right: 10px;
    text-align: center;

    @include m(icon) {
      position: relative;
      top: 2px;
      font-size: $--font-size-large;
    }
  }

  & .hn-indics__switch {
    display: inline-block;
    width: auto;
  }

  &:hover {
    .hn-indics__show {
      border-color: $--border-color-light;
      color: $--color-text-3;
    }

    .hn-indics__switch {
      border-color: $--border-color-light;
      color: $--color-text-3;

      .hn-indics--icon {
        color: $--color-text-3;
      }
    }
  }

  .hn-indics__drawer {
    .el-drawer__body {
      padding: 0px !important;
      background-color: $--color-white !important;;
    }
  }

  .clearfix {
    @include utils-clearfix();
  }
}
