@include b(skeleton) {
  &__actions,
  &__article,
  &__card-heading,
  &__card-text,
  &__date-picker,
  &__list-item,
  &__list-item-avatar,
  &__list-item-avatar-three-line,
  &__list-item-avatar-two-line,
  &__list-item-text,
  &__list-item-three-line,
  &__list-item-two-line,
  &__table-heading,
  &__table-tbody,
  &__table-tfoot,
  &__table-thead {
    background: $--color-white;
  }

  &__avatar,
  &__button,
  &__chip,
  &__divider,
  &__heading,
  &__image,
  &__text {
    background: rgba(0, 0, 0, .12)
  }

  &__bone {
    & :after {
      background: linear-gradient(90deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, .3), hsla(0, 0%, 100%, 0));
    }
  }
}

@include b(skeleton) {
  border-radius: $--border-radius-base;
  position: relative;
  vertical-align: top;

  &__actions {
    padding: 16px 16px 8px;
    text-align: right;

    .hn-skeleton__button {
      display: inline-block;

      &:first-child {
        margin-right: 12px;
        margin-left: 12px;
      }
    }
  }

  .hn-skeleton__list-item,
  .hn-skeleton__list-item-avatar,
  .hn-skeleton__list-item-text,
  .hn-skeleton__list-item-two-line,
  .hn-skeleton__list-item-avatar-two-line,
  .hn-skeleton__list-item-three-line,
  .hn-skeleton__list-item-avatar-three-line {
    border-radius: $--border-radius-base;
  }

  .hn-skeleton__actions,
  .hn-skeleton__article,
  .hn-skeleton__card,
  .hn-skeleton__card-avatar,
  .hn-skeleton__card-heading,
  .hn-skeleton__card-text,
  .hn-skeleton__date-picker,
  .hn-skeleton__date-picker-options,
  .hn-skeleton__date-picker-days,
  .hn-skeleton__list-item,
  .hn-skeleton__list-item-avatar,
  .hn-skeleton__list-item-text,
  .hn-skeleton__list-item-two-line,
  .hn-skeleton__list-item-avatar-two-line,
  .hn-skeleton__list-item-three-line,
  .hn-skeleton__list-item-avatar-three-line,
  .hn-skeleton__paragraph,
  .hn-skeleton__sentences,
  .hn-skeleton__table,
  .hn-skeleton__table-cell,
  .hn-skeleton__table-heading,
  .hn-skeleton__table-thead,
  .hn-skeleton__table-tbody,
  .hn-skeleton__table-tfoot,
  .hn-skeleton__table-row,
  .hn-skeleton__table-row-divider {
    &::after {
      display: none;
    }
  }

  &__article {
    .hn-skeleton__heading {
      margin: 16px 0 16px 16px;
      margin: 16px 16px 0 16px;
    }

    .hn-skeleton__paragraph {
      padding: 16px;
    }
  }

  &__bone {
    border-radius: inherit;
    overflow: hidden;
    position: relative;

    &::after {
      animation: loading 1.5s infinite;
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transform: translateX(-100%);
      z-index: 1;
    }
  }

  &__avatar {
    border-radius: 50%;
    height: 48px;
    width: 48px;
  }

  &__button {
    border-radius: $--border-radius-base;
    height: 36px;
    width: 64px;
  }

  &__card {
    .hn-skeleton__image {
      border-radius: 0
    }
  }

  &__card-heading {
    .hn-skeleton__heading {
      margin: 16px;
    }
  }

  &__card-text {
    padding: 16px;
  }

  &__chip {
    border-radius: 16px;
    height: 32px;
    width: 96px;
  }

  &__date-picker {
    border-radius: inherit;

    .hn-skeleton__list-item:first-child {
      .hn-skeleton__text {
        max-width: 88px;
        width: 20%;
      }
    }

    .hn-skeleton__heading {
      max-width: 256px;
      width: 40%;
    }
  }

  &__date-picker-days {
    display: flex;
    flex-wrap: wrap;
    padding: 0 12px;
    margin: 0 auto;

    .hn-skeleton__avatar {
      border-radius: $--border-radius-base;
      flex: 1 1 auto;
      margin: 4px;
      height: 40px;
      width: 40px;
    }
  }

  &__date-picker-options {
    align-items: center;
    display: flex;
    padding: 16px;

    .hn-skeleton__avatar {
      height: 40px;
      width: 40px;

      &:nth-child(2) {
        margin-left: auto;
        margin-right: 8px;
        margin-left: 8px;
      }
    }

    .hn-skeleton__text.hn-skeleton__bone:first-child {
      margin-bottom: 0px;
      max-width: 50%;
      width: 456px;
    }
  }

  &__divider {
    border-radius: 1px;
    height: 2px;
  }

  &__heading {
    border-radius: 12px;
    height: 24px;
    width: 45%;
  }

  &__image {
    height: 200px;
    border-radius: 0;

    ~ .hn-skeleton__card-heading {
      border-radius: 0;
    }

    &:first-child, &:last-child {
      border-radius: inherit;
    }
  }

  &__list-item {
    height: 48px;
  }

  &__list-item-three-line {
    flex-wrap: wrap;

    > * {
      flex: 1 0 100%;
      width: 100%;
    }
  }

  &__list-item-avatar,
  &__list-item-avatar-two-line,
  &__list-item-avatar-three-line
  .hn-skeleton__avatar {
    height: 40px;
    width: 40px;
  }

  &__list-item-avatar {
    height: 48px;
  }

  &__list-item-two-line,
  &__list-item-avatar-two-line {
    height: 72px;
  }

  &__list-item-three-line,
  &__list-item-avatar-three-line {
    height: 88px;
  }

  &__list-item-avatar-three-line {
    .hn-skeleton__avatar {
      align-self: flex-start;
    }
  }

  &__list-item,
  &__list-item-avatar,
  &__list-item-two-line,
  &__list-item-three-line,
  &__list-item-avatar-two-line,
  &__list-item-avatar-three-line {
    align-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 0 16px;

    .hn-skeleton__avatar {
      margin-right: 16px;
      margin-left: 16px;
    }

    .hn-skeleton__text:last-child,
    .hn-skeleton__text:only-child {
      margin-bottom: 0;
    }
  }

  &__paragraph,
  &__sentences {
    flex: 1 0 auto;
  }

  &__paragraph {
    &:not(:last-child) {
      margin-bottom: 6px;
    }

    .hn-skeleton__text:nth-child(1) {
      max-width: 100%;
    }

    .hn-skeleton__text:nth-child(2) {
      max-width: 50%;
    }

    .hn-skeleton__text:nth-child(3) {
      max-width: 70%;
    }
  }

  &__sentences {
    .hn-skeleton__text:nth-child(2) {
      max-width: 70%;
    }

    &:not(:last-child) {
      margin-bottom: 6px;
    }
  }

  &__table-heading {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 16px;

    .hn-skeleton__heading {
      max-width: 15%;
    }

    .hn-skeleton__text {
      max-width: 40%;
    }
  }

  &__table-thead {
    display: flex;
    justify-content: space-between;
    padding: 16px;

    .hn-skeleton__heading {
      max-width: 5%;
    }
  }

  &__table-tbody {
    padding: 16px 16px 0;
  }

  &__table-tfoot {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding: 16px;

    > * {
      margin-left: 8px;
      margin-right: 8px;
    }

    .hn-skeleton__avatar {
      height: 40px;
      width: 40px;
    }

    .hn-skeleton__text {
      margin-bottom: 0;
    }

    &:nth-child(1) {
      max-width: 128px;
    }

    &:nth-child(2) {
      max-width: 64px;
    }
  }

  &__table-row {
    display: flex;
    justify-content: space-between;
  }

  &__table-cell {
    align-items: center;
    display: flex;
    height: 48px;
    width: 88px;

    .hn-skeleton__text {
      margin-bottom: 0;
    }
  }

  &__text {
    border-radius: 6px;
    flex: 1 0 auto;
    height: 12px;
    margin-bottom: 6px;
  }

  &--boilerplate {
    .hn-skeleton__bone:after {
      display: none;
    }
  }

  &--is-loading {
    overflow: hidden;
  }

  &--tile {
    border-radius: 0;

    .hn-skeleton__bone {
      border-radius: 0;
    }
  }
}

@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}
