$duration-wrapper-prefix-cls: "#{$css-prefix}duration-wrapper";

.#{$duration-wrapper-prefix-cls} {
  position: relative;
  font-size: $font-size-small;

  .discount-mask {
    position: absolute;
    z-index: $zindex-discount;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    border: 1px solid $primary-color;
    background: rgba(75, 138, 251, 0.2);
  }

  .discount-hover {
    position: absolute;
    z-index: $zindex-discount;
    width: 120px;
    padding: 10px;
    line-height: 22px;
    border-radius: $border-radius-small;
    background: $white-color;
    filter: alpha(opacity=80);
    opacity: 0.8;
  }

  .discount-setting {
    position: absolute;
    z-index: $zindex-discount;
    width: calc(12 * 16 + 40px);
    border-radius: $border-radius-small;
    background: $white-color;

    .setting-content {
      padding: 10px 10px 0 10px;
      border-bottom: 1px solid $border-color-base;
    }

    .setting-footer {
      padding: 10px;
    }
  }

  .duration {
    box-sizing: border-box;
    border-radius: $border-radius-small;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    background-color: $body-background-base;

    .week {
      border-top: 1px solid $border-color-base;
      border-right: 1px solid $border-color-base;
      border-left: 1px solid $border-color-base;
      border-top-left-radius: $border-radius-small;
      border-bottom-left-radius: $border-radius-small;

      .week-item {
        color: #999;
        text-align: center;
        border-bottom: 1px solid $border-color-base;

        &:first-child {
          border-top-left-radius: $border-radius-small;
        }

        &:last-child {
          border-bottom-left-radius: $border-radius-small;
        }
      }
    }

    .content {
      .range {
        background-color: $body-background-base;
        border-top: 1px solid $border-color-base;
        border-bottom: 1px solid $border-color-base;
        border-top-right-radius: $border-radius-small;
        text-align: center;
        color: #999;

        .range-item {
          float: left;
          border-right: 1px solid $border-color-base;

          &:last-child {
            border-top-right-radius: $border-radius-small;
          }
        }
      }

      .time {
        background-color: $body-background-base;
        text-align: center;
        color: #999;

        .time-item {
          float: left;
          border-right: 1px solid $border-color-base;
          border-bottom: 1px solid $border-color-base;
        }
      }

      .boxzone {
        .box {
          background: $white-color;
          border-right: 1px solid $border-color-base;
          border-bottom: 1px solid $border-color-base;

          &:last-child {
            border-bottom-right-radius: $border-radius-small;
          }
        }
      }
    }
  }

  .circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 3px;
    border-radius: 50%;
  }

  .clearfix {
    @include clearfix();
  }
}
