$duration-wrapper-prefix-cls: "#{$css-prefix}duration-wrapper";

.#{$duration-wrapper-prefix-cls} {
  position: relative;
  font-size: $border-radius-small;

  .discount-mask {
    position: absolute;
    z-index: 100;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    border: 1px solid #4d7fff;
    background: rgba(75, 138, 251, 0.2);
  }

  .discount-hover {
    position: absolute;
    z-index: 100;
    width: 120px;
    padding: 10px;
    line-height: 22px;
    border-radius: $border-radius-small;
    background: #fff;
    filter: alpha(opacity=80);
    opacity: 0.8;
  }

  .discount-setting {
    position: absolute;
    z-index: 100;
    width: calc(12 * 16 + 40px);
    border-radius: $border-radius-small;
    background: #fff;

    .setting-content {
      padding: 10px 10px 0 10px;
      border-bottom: 1px solid #e6e6e6;
    }

    .setting-footer {
      padding: 10px;
    }
  }

  .duration {
    box-sizing: border-box;
    border-radius: $border-radius-small;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    background-color: #fafafa;

    .week {
      border-top: 1px solid #e6e6e6;
      border-right: 1px solid #e6e6e6;
      border-left: 1px solid #e6e6e6;
      border-top-left-radius: $border-radius-small;
      border-bottom-left-radius: $border-radius-small;

      .week-item {
        font-size: 12px;
        color: #999;
        text-align: center;
        border-bottom: 1px solid #e6e6e6;

        &:first-child {
          border-top-left-radius: $border-radius-small;
        }

        &:last-child {
          border-bottom-left-radius: $border-radius-small;
        }
      }
    }

    .content {
      .range {
        background-color: #fafafa;
        border-top: 1px solid #e6e6e6;
        border-bottom: 1px solid #e6e6e6;
        border-top-right-radius: $border-radius-small;
        text-align: center;
        color: #999;

        .range-item {
          float: left;
          font-size: 12px;
          border-right: 1px solid #e6e6e6;

          &:last-child {
            border-top-right-radius: $border-radius-small;
          }
        }
      }

      .time {
        background-color: #fafafa;
        text-align: center;
        color: #999;

        .time-item {
          float: left;
          font-size: 12px;
          border-right: 1px solid #e6e6e6;
          border-bottom: 1px solid #e6e6e6;
        }
      }

      .boxzone {
        .box {
          background: #fff;
          border-right: 1px solid #e6e6e6;
          border-bottom: 1px solid #e6e6e6;

          &:last-child {
            border-bottom-right-radius: $border-radius-small;
          }
        }
      }
    }
  }

  .circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 3px;
    border-radius: 50%;
  }

  .clearfix {
    @include clearfix();
  }
}
