@include b(tip) {
  padding: 8px 16px;
  border-radius: $--border-radius-base;
  margin: 20px 0;

  & p {
    color: #5e6d82;
    line-height: 1.5em;
  }

  & code {
    background-color: hsla(0, 0%, 100%, 0.7);
    color: #445368;
    padding: 2px 4px;
    border: 1px solid $--border-color-light;
    border-radius: $--border-radius-base;
  }

  @include m(primary) {
    background-color: $--color-primary-light-9;
    border-left: 5px solid $--color-primary;
  }

  @include m(danger) {
    background-color: $--color-danger-light-9;
    border-left: 5px solid $--color-danger;
  }

  @include m(warning) {
    background-color: $--color-warning-light-9;
    border-left: 5px solid $--color-warning;
  }

  @include m(success) {
    background-color: $--color-success-light-9;
    border-left: 5px solid $--color-success;
  }
}
