/* button size
 -------------------------- */
@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $border-radius) {
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
  border-radius: $border-radius;
}

/* button color
 -------------------------- */
@mixin button-color($color) {
  background: $color;

  &:hover {
    color: $color;

    &:before,
    &:after {
      background: $color;
    }
  }

  &.is-plainly {
    color: $color;
    background: mix($--color-white, $color, 90%);

    &:hover {
      background: $--color-white;
    }
  }
}
