.btn {
  position: relative;
  display: inline-block;
  height: $btn-height-base;
  margin-bottom: 0;
  padding: 0 10px;
  font-size: $font-size-base;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  line-height: calc(#{$btn-height-base} - 2px);
  border-radius: $border-radius-base;
  border: 1px solid $btn-primary;
  background-color: #edf2ff;
  background-image: none;
  color: $text-color;
  transition: border-color $btn-duration, background-color $btn-duration,
    color $btn-duration;
}

.btn-primary {
  background-color: $btn-primary;
  background-image: linear-gradient(90deg, transparent, $btn-primary);
  color: $btn-primary-color;
}
