/* 文本n行溢出隐藏
-------------------------- */
@mixin utils-ellipsis-basic($clamp: 2) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $clamp;
}

/* 控制用户能否选中文本
-------------------------- */
@mixin utils-user-select($value) {
  -moz-user-select: $value;
  -webkit-user-select: $value;
  -ms-user-select: $value;
  user-select: $value;
}

/* clearfix
-------------------------- */
@mixin utils-clearfix {
  $selector: &;

  @at-root {
    #{$selector}::before,
    #{$selector}::after {
      display: table;
      content: "";
    }

    #{$selector}::after {
      clear: both
    }
  }
}

/* 渐显下拉动画
-------------------------- */
@keyframes fade-in-down {
  0% {
    transform: translate(0, -20%);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

/* 渐显上拉动画
-------------------------- */
@keyframes fade-in-up {
  0% {
    transform: translate(0, 20%);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

/* btn
-------------------------- */
.btn {
  position: relative;
  display: inline-block;
  margin-bottom: 0;
  padding: 0 10px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  outline: none;
  border-radius: $--border-radius-base;
  border: 1px solid $--color-primary;
  background-color: $--color-primary-light-9;
  background-image: none;
  color: $--color-text-3;
  transition: border-color $--transition-time, background-color $--transition-time,
  color $--transition-time;
  @include utils-user-select(none);

  &:hover,
  &.hover,
  &:active {
    background-color: $--color-primary-light-8;
    background-image: none;
    color: $--color-text-3;
  }
}

.btn-primary {
  background-color: $--color-primary;
  background-image: linear-gradient(90deg, transparent, $--color-primary);
  color: $--color-white;
}

.btn-small {
  height: 24px;
  line-height: 24px;
}

/* 卡片样式
-------------------------- */
.grid {
  background: $--color-white;
  border-radius: $--border-radius-base;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.25s ease-out;

  &:hover {
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.08);
  }
}

.grid-title {
  font-size: $--font-size-large;

  & > * {
    max-height: 32px;
  }
}

/* trigger
-------------------------- */
.hn-trigger {
  display: block;
  position: relative;
  width: 100%;
  height: 32px;
  padding: 0 25px 0 10px;
  line-height: calc(32px - 2px);
  cursor: pointer;
  transition: all 0.25s;
  border-radius: $--border-radius-base;
  border-width: 1px;
  border-style: solid;
  border-color: $--border-color-base;
  background-color: $--color-white;
  @include utils-user-select(none);

  .hn-trigger-label {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .hn-trigger-arrow {
    position: absolute;
    right: 0;
    top: 50%;
    width: 28px;
    height: 28px;
    font-size: $--font-size-large;
    line-height: 28px;
    margin-top: -14px;
    color: $--border-color-base;
    transition: all 0.25s;
    text-align: center;
  }

  &.hn-trigger-open {
    .hn-trigger-arrow {
      transform: rotate(180deg);
      margin-top: -15px;
    }
  }
}

.hn-shadow,
.hn-output {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.08);
  border: 1px solid #f5f5f6;
}

.hn-output {
  display: none;
  position: absolute;
  left: 0;
  z-index: 999999;
  min-width: 100%;
  max-width: 280%;
  border-radius: $--border-radius-base;
  background-color: $--color-white;
  @include utils-user-select(none);

  &__bottom {
    top: 100%;
    margin-top: 10px;

    &.hn-output--open {
      display: block;
      animation: fade-in-down 0.25s ease-out;
      animation-fill-mode: forwards;
    }
  }

  &-top {
    bottom: 100%;
    margin-bottom: 10px;

    &.hn-output--open {
      display: block;
      animation: fade-in-up 0.25s ease-out;
      animation-fill-mode: forwards;
    }
  }

  .hn-output__search {
    padding: 10px 10px 0 10px;
  }

  .hn-output__list {
    max-height: 300px;
    padding: 8px 10px;
    overflow: auto;
  }

  .hn-output-item {
    padding: 2px 0;
  }

  .hn-output__header {
    height: 26px;
    line-height: 26px;
    padding-left: 2px;
    padding-right: 2px;
    color: $--color-text-9;
    cursor: default;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .hn-output__link {
    display: block;
    width: 100%;
    height: 26px;
    padding: 0 8px;
    line-height: 26px;
    border-radius: $--border-radius-base;
    transition: all 0.25s;
    cursor: pointer;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      background-color: $--calendar-bg;
    }

    &.hn-output__link-active,
    &.hn-output__link-active:hover,
    &.hn-output__link-active:active,
    &.hn-output__link-active:focus {
      color: $--color-primary;
      background-color: $--color-primary-light-9;
    }

    &.hn-output__link-disabled,
    &.hn-output__link-disabled:hover,
    &.hn-output__link-disabled:active,
    &.hn-output__link-disabled:focus {
      color: $--color-text-9;
      cursor: not-allowed;
      background-color: transparent;
    }
  }
}

.hn-output__footer {
  padding: 10px;
  border-top: 1px solid $--border-color-base;
  text-align: left;
}
